{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us - Seamless Hauls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'website/css/contact_us2.css' %}">
</head>
<body>
    <header>
        <div class="top-container">
            <div class= "logo">
                <a href="{% url 'home' %}"><img src="{% static 'website/images/main_logo.svg' %}" alt="logo" class="logo"></a>
            </div>
            
            <div class="menu">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="about_us.html">About Us</a>
                    </li>
                    <li>
                        <a href="contact_us2.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    {% if message_name %}
        <center>
            <h2>Thanks {{ message_name}}!</h2>
            <p>We recieved your email and will respond shortly...</p>
        </center>
        <br/><br/><br/>
    {% else %}
    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>
                Across the country, from state to state, Seamless Hauls' services encompass your entire supply chain. Samless Hauls has saved its customers millions of naira in supply chain logistics and management costs, and by doing so, has helped them to compete more profitably.
            </p>
        </div>
        <div class="ccontainer">
            <div class="contactinfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i> </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>1-3 Creek Road,<br>Apapa Road<br>Apapa<br>102101</p>
                    </div>
                
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>08090150406</p>
                    </div>
                    
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>support@seamlesshauls.com</p>
                    </div>
                </div>
            </div>
            <div class="contactform">
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="message-name" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="message-email" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea name="message" required="required"></textarea>
                        <span>Type your Message...</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endif %}
</body>
</html>